<div class="container">
    <form action="/test" method="GET">
        <label>
            Enter your username:
            <input type="text" name="name">
        </label>
        <label>
            Your Gender:
            <select name="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </label>
        <input type="hidden" name="progress" value="1">
        <input type="hidden" name="scoree" value="0">
        <input type="hidden" name="scorei" value="0">
        <input type="hidden" name="scores" value="0">
        <input type="hidden" name="scoren" value="0">
        <input type="hidden" name="scoret" value="0">
        <input type="hidden" name="scoref" value="0">
        <input type="hidden" name="scorej" value="0">
        <input type="hidden" name="scorep" value="0">
        <input type="hidden" name="submission" value="">
        <button class="btn" type="submit">Begin Test</button>
    </form>
</div>