<div class="container">
    <div class="container__heading">
        <h2>Introduction</h2>
        <p>Welcome to the personality matchmaker. On this website, we determine each users' personality type, using the myer-briggs personality test. We will then match each user against their other peers who have taken the test based how well they would get along. Once you have your results, make sure to click each personality type to see others with that same personality type. The test is completely free, and highly informative. It is also free to register.</p>
    </div>
    <a href="/login"><button class="btn">Login</button></a>
    <a href="/register"><button class="btn">Register</button></a>
</div>