<div class="container">

    <div class="container__heading">
        <h2>Register your details</h2>
        <p style="text-align: center">Welcome to the personality matchmaker. Please log into your account to continue.</p>
    </div>
    
    <div class="form">
        <form action="/" method="GET">
            <table style="width:100%">
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
            </table>
            <button class="btn" style="margin-top: 20px" type="submit">Register</button>
        </form>
    </div>
    <a href="/">Don't have an account? Register free here.</a>
</div>