<div class="container">

    <div class="container__heading">
        <h2>Register your details</h2>
        <p>Welcome to the personality matchmaker. This test has been designed, so that you can calculate how well you would get along with your peers. Please register an account so we can keep track of your results. Otherwise, click the bottom link and log in to access your account.</p>
        <h3><%= flash[:flashuser] %></h3>
    </div>
    
    <div class="form">
        <form action="/" method="GET">
            <table style="width:100%">
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Full Name:</td>
                    <td><input type="text" name="fullname"></td>
                </tr>
                <tr>
                    <td>Your Age:</td>
                    <td><input style="text-align: center" type="number" name="age" value="18"></td>
                </tr>
                <tr>
                    <td>Your Gender:</td>
                    <td>
                        <select name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Country:</td>
                    <td><input type="text" name="country"></td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td><input type="text" name="state"></td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td><input type="text" name="city"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                    <td>Confirm Password:</td>
                    <td><input type="password" name="confirm_password"></td>
                </tr>
            </table>
            <button class="btn" style="margin-top: 20px" type="submit">Register</button>
        </form>
    </div>
    <a href="/login">Already Have an account? Sign in here.</a>
</div>