<div class="container">
    <h2>Results: <%= params['name'] %></h2>
    <br>
    <p>Your personality: <%= params['personality'] %></p>
    <br><br>
    <h2>About <%= params['personality'] %></h2>
    <br><br>
    <p style="width: 50%; margin: 30px auto"><%= @description %></p>
</div>